/*specifies background and font family*/
body
{
    background-image: url(../images/background.png);
    background-repeat: repeat;
    font-family: 'Trebuchet MS';
}

#wrapper
{
    width: 1140px;
    margin: auto;
}

header
{
    padding-top: 2em;
}

/*part with the "headline" and the "logo"*/
#upper-header
{
    height: 12em;
    position: relative;
}

/*headline "LFG-robotics"*/
header #headline
{
    color: #00b8e9;
    font-family: "Poiret One";
    font-size: 72px;
    text-decoration: none;
    text-shadow: 0px 0px 4px #00b8e9;
    padding-left: 0.2em;
}

header #headline:hover
{
    text-shadow: 0px 0px 6px #00b8e9;
}

header #logo
{
    position: absolute;
    right: 1em;
}

nav ul
{
    padding-left: 0.5em;
    list-style-type: none;
}

/*part with "nav"*/
#lower-header
{
    /*crating space between the <div> and the <hr />*/
    padding: 1em 0 1em 0; 
    position: relative;
    height: auto;
}

#lower-header #fred-img
{
    height: 36em;
    overflow: hidden;
}

/*text inside of the big image*/
#lower-header #text-fred
{
    position: absolute;
    top: 0;
}

/*"student robotics"*/
#lower-header p
{
    font-family: "Poiret One";
    color: #fff;
    font-size: 2.5em;
    width: 6em;
    position: absolute;
    bottom: -0.2em;
    right: 0em;
}

/*nav link items*/
#lower-header ul li a
{
    /* Not needed anymore, but kept in here something breaks*/
    color: #00b8e9;
    text-decoration: none;
    font-size: 1.2em;
}

#lower-header ul li a:hover
{
    color: #00669c;
}

.hvr-underline-from-left {
  /*should explain itself*/
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #00669c;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/*nav list items*/
#lower-header ul li 
{
    padding: 0.7em 0 0 0;
}

/*styles for every horizontal rule*/
hr
{
    border: none;
    border-top: 1px dashed #00b8e9;
}

main
{
    margin: 2em auto 2em auto;
}

footer ul 
{
    width: 50%;
    padding: 0;
}

footer ul li
{
    display: inline;
    margin: 1em 1em 1em 1em;
}

footer a
{
    text-decoration: none;
    color: #00B8E9;
    font-size: 16px;
}

footer a:hover
{
    color: #00669c;
}

/*media query for 1200px width*/
@media screen and (max-width: 1200px)
{
    #wrapper
    {
        width: 970px;
    }

    header #logo img
    {
        width: 200px;
    }

    #lower-header #fred-img-nav
    {
        width: 970px;
    }
    
    footer ul 
    {
        width: 75%;
    }
}

@media screen and (max-width: 990px)
{
    #wrapper
    {
        width: 750px;
    }

    header #logo img
    {
        width: 160px;
    }
    
    #lower-header #fred-img
    {
        height: auto;
    }

    #lower-header #fred-img-nav
    {
        width: 750px;
    }
    
    #lower-header p
    {
        bottom: 0;
    }
}

@media screen and (max-width: 780px)
{
    #wrapper
    {
        width: 97%;
    }

    header #logo 
    {
        position: relative;
        left: 0;
        width: 4em;
        height: auto;
    }

    header #logo img
    {
        width: 10em;
    }
    
    #upper-header #headline
    {
        position: relative;
        top:0;
        
    }

    header
    {
        width: 100%;
    }

    #upper-header
    {
        width: 100%;
        height: auto;
    }

    #lower-header
    {
        width: 100%;
    }
    
    #lower-header #fred-img
    {
        height: auto;
    }
    
    #lower-header #fred-img-nav
    {
        width: 100%;
        height: auto;
    }

    #lower-header ul 
    {
        display: none;
    }

    #lower-header p
    {
        /*test*/
        position: relative;
        width: 100%;
        text-align: left;
        display: none;
    }
}
